node_modules
.next
.env
.env.local
.DS_Store
*.log
public/generated
tsconfig.tsbuildinfo

# Local Netlify folder
.netlify

# Vite frontend
cliploop-vite/node_modules
cliploop-vite/dist
cliploop-vite/.env
cliploop-vite/tsconfig.tsbuildinfo
